<ul class="posts" style="margin-bottom: 16px; list-style: none; padding: 0;">
    {% for post in posts %}
    <li class="post" style="padding: 5%; border: 2px solid gray;">
        <div class="post-content">
            <div class="row">
                <div class="col-2">
                    <img style="border-radius: 50%; object-fit: cover;" width=40px height=40px class="img-rounded profile-thumbnail"
                        src={{ post.profile_pic }}>
                </div>
                <div class="col-6">
                    {% for u in user %}
                    {% if u.id == post.user_id %}
                    <div class="post-author"><a href="{{ url_for('profile', user_id=post.user_id ) }}">{{ u.name }}</a></div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="post-date">{{ post.timestamp }}</div>
                </div>
            </div>
            <h3><a href="{{ url_for('.post', id=post.id) }}">{{ post.header }}</a></h3>
            <div class="post-body" style="margin: 4% 0;">
                {% if post.text %}
                <h5>{{ post.text | safe }}</h5>   
                {% else %}
                <h5>{{ post.text }}</h5>
                {% endif %}
            </div>
            
            <div class="container ucvl">
                {% if current_user.is_authenticated %}
                <div class="post-footer">
                    <p style="float: left;vertical-align: bottom;margin-bottom: 8px;">Upvotes
                    {% if current_user.has_liked_post(post) %}
                    <a href="{{ url_for('like_post_action', post_id=post.id, action='unlike') }}"><i class="fas fa-thumbs-up"></i></a>
                    {% else %}
                    <a href="{{ url_for('like_post_action', post_id=post.id, action='like') }}"><i class="far fa-thumbs-up"></i></a>
                    {% endif %}
                </p>
                </div>
                <br>
                <br>
                {% endif %}
                <a class="btn btn-success post-btn" href="{{ url_for('.post', id=post.id) }}#comments" style="margin-right: 10px;">
                    <span class="label label-primary post-button">Comments: {{ post.comments.count() }}</span>
                </a>
                <a class="btn btn-success post-btn" style="margin-right: 10px;">
                    <span class="label label-primary post-button">Views: {{ post.views }} </span>
                </a>
                <a class="btn btn-success post-btn" style="margin-right: 10px;">
                    <span class="label label-primary post-button">Likes: {{post.posts_like.count()}} </span>
                </a>
                {% if current_user.id == post.user_id %}
                <a  class="btn btn-danger post-btn" href="{{ url_for('.edit', id=post.id) }}" style="margin-right: 10px;">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.position == 'Admin' %}
                <a  class="btn btn-danger post-btn" href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger post-button">Edit[Ad]</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>