{% extends "layout.html" %}

{% block head %}
<!-- Page title -->
<title>Unicorn</title>
<!-- Link to respective CSS stylesheet -->
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/about.css')}}"
/>
{% endblock %}

{% block content %}
<a href="{{url_for('home')}}">
<img class="about-website-logo" src="../static/img/about_logo.png" alt="">
</a>
<div class="container-fluid nav_container"
    style="padding: 0; margin-top: 0px; background-color: #fa80723f; font-family: serif; text-transform: uppercase; letter-spacing: 4px;">
    <div class="square1">
    </div>
    <div class="square2">
    </div>
    <div class="square3">
    </div>
    <header class="header-alt">
        <div class="book" id="wrapper" style="z-index: 99; text-align: left;">
            <img src="../static/img/about_illustration.png" alt="">
        </div>
        <div class="bg" style="margin-top: 220px;">
            <h1 class="show-on-scroll inline-photo about-mod-head"> About Us</h1>
            <p class="show-on-scroll inline-photo about-mod-desc">An integrated platform for guiding aspiring entrepreneurs, idea nurturing, connecting with incubators, extending mentoring and handholding support, creating financial and marketing linkages, and complying with legal and statutory compliances for starting a business. </p>
        </div>
        <div class="box" class="show-on-scroll inline-photo">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
</div>


<div class="container-fluid sdg-col">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12" style="padding: 10% 100px; border: 2px solid black; height: 100vh;">
          <div class="circle-filler" style="background-color: #F37878;"></div>
          <div class="row" style="text-align: justify;">
            <div class="col-lg-6 col-md-12 col-sm-12" style="text-align: justify; padding: 0;">
              <h3 class="show-on-scroll inline-photo" style="padding-bottom: 30px; z-index: 99; font-size: 1.5rem; font-weight: 200; font-style: italic;">SUSTAINABLE GOAL 8 - Decent Work and Economic Growth</h3>
                    <p class="show-on-scroll inline-photo">Our project aims to support budding entrepreneurs by providing a one-stop platform for them to access resources, training, and support to help them grow their businesses. 
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 show-on-scroll inline-photo" style="font-size: larger; padding-left: 50px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="black" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                      </svg>
                </div>
                <p style="z-index: 99;" class="show-on-scroll inline-photo">We want to contribute to the promotion of sustained, inclusive, and sustainable economic growth by helping entrepreneurs create jobs and build productive enterprises.</p>
                <p style="z-index: 99;" class="show-on-scroll inline-photo">We not only are planning to promote entrepreneurship by the development of new industries and innovation, but also by motivating the underrepresented groups of the community - Women, tier-I/II/III villages by this project. 
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12" style="padding: 10% 100px; border: 2px solid black; height: 100vh;">
          <div class="circle-filler" style="background-color: #F5A25D;"></div>
          <div class="row" style="text-align: justify;">
            <div class="col-lg-6 col-md-12 col-sm-12" style="text-align: justify; padding: 0;">
              <h3 class="show-on-scroll inline-photo" style="padding-bottom: 30px; z-index: 99; font-size: 1.5rem; font-weight: 200; font-style: italic;">SUSTAINABLE GOAL 9 - Industry, Innovation, and Infrastructure</h3>
                    <p class="show-on-scroll inline-photo">Goal 9 aims to build resilient infrastructure, promote inclusive and sustainable industrialization, and foster innovation.</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 show-on-scroll inline-photo" style="font-size: larger; padding-left: 50px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="black" class="bi bi-boxes" viewBox="0 0 16 16">
                        <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z"/>
                      </svg>
                </div>
                <p style="z-index: 99;" class="show-on-scroll inline-photo">Our project aligns with this goal by providing a platform that supports the development of new enterprises, fosters innovation, and promotes sustainable industrialization.</p>
                <p style="z-index: 99;" class="show-on-scroll inline-photo">By providing budding entrepreneurs with access to training, resources, and support, we are helping to build the skills and knowledge needed to create resilient and sustainable enterprises. Additionally, by promoting entrepreneurship and innovation, we contribute to the development of new industries and driving economic growth.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding: 100px 0; border: 2px solid black;">
<h1 class="show-on-scroll inline-photo" style="padding: 10px 0; font-size: 4rem; font-weight: 100; font-style: italic;">Job Titles</h1>
<p class="show-on-scroll inline-photo" style="margin-bottom: 50px;">Hover on images to view all the job titles we provide on this platform!</p>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="icon-div-count">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
          <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
        </svg>
      </div>
      <div class="number">
        <p>{{ job }}</p>
      </div>
      <div class="job-heading">
        <p>Jobs provided</p>
      </div>
      <div style="font-size: small; color: gray;" class="job-count-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum ut vitae laborum ad quam magnam nihil. Voluptatum, magnam et.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="icon-div-count">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-buildings-fill" viewBox="0 0 16 16">
          <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V.5ZM2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-1 2v1H2v-1h1Zm1 0h1v1H4v-1Zm9-10v1h-1V3h1ZM8 5h1v1H8V5Zm1 2v1H8V7h1ZM8 9h1v1H8V9Zm2 0h1v1h-1V9Zm-1 2v1H8v-1h1Zm1 0h1v1h-1v-1Zm3-2v1h-1V9h1Zm-1 2h1v1h-1v-1Zm-2-4h1v1h-1V7Zm3 0v1h-1V7h1Zm-2-2v1h-1V5h1Zm1 0h1v1h-1V5Z"/>
        </svg>
      </div>
      <div class="number">
        <p>{{ startup }}</p>
      </div>
      <div class="job-heading">
        <p>StartUps</p>
      </div>
      <div style="font-size: small; color: gray;" class="job-count-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum ut vitae laborum ad quam magnam nihil. Voluptatum, magnam et.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="icon-div-count">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
        </svg>
      </div>
      <div class="number">
        <p>{{ mentors }}</p>
      </div>
      <div class="job-heading">
        <p>Mentors & Counsellors</p>
      </div>
      <div style="font-size: small; color: gray;" class="job-count-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum ut vitae laborum ad quam magnam nihil. Voluptatum, magnam et.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="icon-div-count">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
      </div>
      <div class="number">
        <p>{{ validator }}</p>
      </div>
      <div class="job-heading">
        <p>Validators</p>
      </div>
      <div style="font-size: small; color: gray;" class="job-count-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum ut vitae laborum ad quam magnam nihil. Voluptatum, magnam et.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="icon-div-count">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
          <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
        </svg>
      </div>
      <div class="number">
        <p>{{ funding }}</p>
      </div>
      <div class="job-heading">
        <p>Investors</p>
      </div>
      <div style="font-size: small; color: gray;" class="job-count-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum ut vitae laborum ad quam magnam nihil. Voluptatum, magnam et.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="icon-div-count">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
          <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
          <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
        </svg>
      </div>
      <div class="number">
        <p>{{ legal }}</p>
      </div>
      <div class="job-heading">
        <p>Legal Advisors</p>
      </div>
      <div style="font-size: small; color: gray;" class="job-count-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum ut vitae laborum ad quam magnam nihil. Voluptatum, magnam et.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="icon-div-count">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
          <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z"/>
        </svg>
      </div>
      <div class="number">
        <p>{{ linkage }}</p>
      </div>
      <div class="job-heading">
        <p>Linkage Agents</p>
      </div>
      <div style="font-size: small; color: gray;" class="job-count-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum ut vitae laborum ad quam magnam nihil. Voluptatum, magnam et.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="icon-div-count">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-badge-ad-fill" viewBox="0 0 16 16">
          <path d="M11.35 8.337c0-.699-.42-1.138-1.001-1.138-.584 0-.954.444-.954 1.239v.453c0 .8.374 1.248.972 1.248.588 0 .984-.44.984-1.2v-.602zm-5.413.237-.734-2.426H5.15l-.734 2.426h1.52z"/>
          <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm6.209 6.32c0-1.28.694-2.044 1.753-2.044.655 0 1.156.294 1.336.769h.053v-2.36h1.16V11h-1.138v-.747h-.057c-.145.474-.69.804-1.367.804-1.055 0-1.74-.764-1.74-2.043v-.695zm-4.04 1.138L3.7 11H2.5l2.013-5.999H5.9L7.905 11H6.644l-.47-1.542H4.17z"/>
        </svg>
      </div>
      <div class="number">
        <p>{{ ad }}</p>
      </div>
      <div class="job-heading">
        <p>Advertisement agent</p>
      </div>
      <div style="font-size: small; color: gray;" class="job-count-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum ut vitae laborum ad quam magnam nihil. Voluptatum, magnam et.</p>
      </div>
    </div>
  </div>
</div>
<!-- <div id="carouselExampleControls" class="carousel slide show-on-scroll inline-photo" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper" style="text-align: center;">
      <div class="card positions-card-about">
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">
        <div class="overlay"></div>
        <div class="card-body">
            <p class="options-header">StartUp Project</p>
        </div>
      </div>
      <div class="card d-none d-md-block positions-card-about">
        <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" class="card-img-top" alt="...">
        <div class="overlay"></div>
        <div class="card-body">
            <p class="options-header">Mentor</p>
        </div>
      </div>
      <div class="card d-none d-md-block positions-card-about">
        <img src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">
        <div class="overlay"></div>
        <div class="card-body">
            <p class="options-header">Validator</p>
        </div>
      </div>
      <div class="card d-none d-md-block positions-card-about">
        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">
        <div class="overlay"></div>
        <div class="card-body">
            <p class="options-header">Legal Advisor</p>
        </div>
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card positions-card-about">
          <img src="https://images.unsplash.com/photo-1674574124792-3be232f1957f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
          <div class="overlay"></div>
          <div class="card-body">
            <p class="options-header">Funding Agent</p>
          </div>
        </div>
        <div class="card d-none d-md-block positions-card-about">
          <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">
          <div class="overlay"></div>
          <div class="card-body">
            <p class="options-header">Job Seeker</p>
          </div>
        </div>
        <div class="card d-none d-md-block positions-card-about">
          <img src="https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" class="card-img-top" alt="...">
          <div class="overlay"></div>
          <div class="card-body">
            <p class="options-header">Advertiser</p>
          </div>
        </div>
        <div class="card d-none d-md-block positions-card-about">
          <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" class="card-img-top" alt="...">
          <div class="overlay"></div>
          <div class="card-body">
            <p class="options-header">Linkage Agent</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
</div>

<div class="app">
	<div id="bound-one" class="scroll-bound">
		<div class="content">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12" style="padding-left: 150px; text-align: left;">
          <h1 class="show-on-scroll inline-photo" style="padding: 10px 0; margin-bottom: 40px; font-size: 3.25rem; font-weight: 100; font-style: italic;">All About Us</h1>
          <p id="eda-content" class="show-on-scroll inline-photo" style="font-weight: 200; font-size: medium;">This single-window platform for entrepreneurs will bring all the stakeholders under one umbrella.</p>
          <p id="eda-content2" class="show-on-scroll inline-photo" style="font-weight: 200; font-size: medium;">For connecting with industry mentors ideally those who run businesses, for a project or Start-up related discussions.</p>
          <p id="eda-content3" class="show-on-scroll inline-photo" style="font-weight: 200; font-size: medium;">Identify markets and provide market linkage for products and services, with provision for transactions between parties through the same platform.</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 show-on-scroll inline-photo">
          <video width="600" muted preload>
           <source src="../static/img/dashboard-10847.mp4" type="video/webm">
         </video>
        </div>
      </div>
		</div>
	</div>
	
	<!-- <div id="bound-three" class="scroll-bound">
		<div class="content">
 			<video width="600" muted preload>
   			<source src="../static/img/marketing-22130.mp4" type="video/mp4">
      </video>
		</div>
	</div> -->
	
</div>

<div class="container-fluid" style="background-color: #F37878;">
  <h1 class="show-on-scroll inline-photo" style="padding: 100px 0 0px; font-size: 4rem; font-weight: 100; font-style: italic; color: white;">Added Features</h1>
  <p class="show-on-scroll inline-photo" style="margin-bottom: 80px; color: white;">Additional through our platform, user can also following features!</p>
  <div class="row">
    <div class="col-6 added-feature show-on-scroll inline-photo">
      <img style="height: 400px; width: 80%; object-fit: cover;" src="https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
      <div class="overlay"></div>
      <div class="added-feature-body">
        <p>TRENDING STARTUPS</p>
      </div>
    </div>
    <div class="col-6 added-feature show-on-scroll inline-photo">
      <img style="height: 400px; width: 80%; object-fit: cover;" src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
      <div class="overlay"></div>
      <div class="added-feature-body">
        <p>BRAND-NAME GENERATOR</p>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- <script>
    $(function () {
    var header = $(".header");
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 1) {
            header.removeClass('header').addClass("header-alt");
        } else {
            header.removeClass("header-alt").addClass('header');
        }
    });
});
</script> -->
<script>
    const registerVideo = (bound, video) => {
	bound = document.querySelector(bound);
	video = document.querySelector(video);
	const scrollVideo = ()=>{
		if(video.duration) {
			const distanceFromTop = window.scrollY + bound.getBoundingClientRect().top;
			const rawPercentScrolled = (window.scrollY - distanceFromTop) / (bound.scrollHeight - window.innerHeight);
			const percentScrolled = Math.min(Math.max(rawPercentScrolled, 0), 1);
      console.log(percentScrolled)
			
			video.currentTime = video.duration * percentScrolled;
      if(percentScrolled < 0.3) {
        content = document.getElementById("eda-content").innerHTML = 'This single-window platform for entrepreneurs will bring all the stakeholders under one umbrella.'
        content = document.getElementById("eda-content2").innerHTML = 'For connecting with industry mentors ideally those who run businesses, for a project or Start-up related discussions.'
        content = document.getElementById("eda-content3").innerHTML = 'Identify markets and provide market linkage for products and services, with provision for transactions between parties through the same platform'
        content = document.getElementById("eda-content").style.color = '#F37878'
        content = document.getElementById("eda-content2").style.color = '#F37878'
        content = document.getElementById("eda-content3").style.color = '#F37878'
      }
      else if(percentScrolled >= 0.3 && percentScrolled < 0.6) {
        content = document.getElementById("eda-content").innerHTML = 'Head over to the Market Trend Analysis to analyse how well your product is doing and tweak your business functions accordingly by consulting the mentors you\'ve found at Unicorn!'
        content = document.getElementById("eda-content2").innerHTML = 'Unicorn provide brand name generator feature, now startups can generate an appropriate brand name in seconds.'
        content = document.getElementById("eda-content3").innerHTML = 'Profit projection is an essential process in startup lifecyle, therefore we aim at providing that feture using ourmachine learning model which has an accuracy of 94.99%.'
        content = document.getElementById("eda-content").style.color = '#F5A25D'
        content = document.getElementById("eda-content2").style.color = '#F5A25D'
        content = document.getElementById("eda-content3").style.color = '#F5A25D'
      } 
      else {
        content = document.getElementById("eda-content").innerHTML = 'Feeling lack of motivation, head over to motivational corner and listen to some amazing podcasts and quotes given by known personalities.'
        content = document.getElementById("eda-content2").innerHTML = 'Want to send bulk promotional mail at zero added cost, we got your back, Unicorn now provided bulk mail promotional service at absolute free of cost.'
        content = document.getElementById("eda-content3").innerHTML = 'Never heard about about success stories of startups and current trending startups in the market. Want to know about them? Visit our link in footer to know about them now.'
        content = document.getElementById("eda-content").style.color = '#87BCC9'
        content = document.getElementById("eda-content2").style.color = '#87BCC9'
        content = document.getElementById("eda-content3").style.color = '#87BCC9'
      }
		}
		requestAnimationFrame(scrollVideo);
	}
	requestAnimationFrame(scrollVideo);
}


registerVideo("#bound-one", "#bound-one video");

registerVideo("#bound-two", "#bound-two video")

registerVideo("#bound-three", "#bound-three video")
</script>
{% endblock %}