{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/success_stories.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin: 0; padding: 0;">
  <div class="row">
  <div class="col-7">
    <img src="https://images.unsplash.com/photo-1610376096719-9819725cfb00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2065&q=80"
      alt="" style="height: 100vh; width: 60%;object-fit: cover; position: fixed;">
  </div>
  <div class="col-5" style="padding: 0 40px;">
  <h1 style="margin-top: 140px;">Advertisement Recommendation</h1>
  <form method="POST" action="" enctype="multipart/form-data" style="margin: 20px 0;">
    {{ form.hidden_tag() }}
    <fieldset>
      <div class="form-group">
        {{ form.input.label(class="form-control-label") }}
        {% if form.input.errors %}
        {{ form.input(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.input.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.input(class="form-control form-control-lg") }}
        {% endif %}
    </div>
      <div>
        {{ form.submit(class="btn btn-dark book-btn") }}
      </div>
    </fieldset>
  </form>

<div style="padding-top: 20px; width: 70%; margin: auto; height: 70vh;">
  {% if output %} 
    <p style="font-size: large;"><b>Output:</b> {{ output|safe }}
    </p>
    {% endif %} 
  </div>
  </div>
</div>
</div>
{% endblock %}