{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<style>
    footer {
        margin-top: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding: 0; margin: 0; height: 100vh;">
    <div class="row">
        <div class="col-7">
            <img src="https://images.unsplash.com/photo-1563225409-127c18758bd5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
      alt="" style="height: 100vh; width: 97%;object-fit: cover; position: absolute;">
        </div>
        <div class="col-lg-5 col-md-10 col-sm-11"
            style="height: 60vh; background-color: white; z-index: 1; padding: 50px; margin-top: 150px;">
            <h1 class="underline-small-footer" style="text-align: center; color: #000000;">Free Promotional Mail Service</h1>
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {% if form.name.errors %} 
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %} {{ form.name(class="form-control form-control-lg") }} {%
                            endif %}
                        </div>
                        <div class="form-group">
                            {% if form.email.errors %} 
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %} {{ form.email(class="form-control form-control-lg") }} {%
                            endif %}
                        </div>
                        <div class="form-group">
                            {% if form.mail_body.errors %} 
                            {{ form.mail_body(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.mail_body.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %} {{ form.mail_body(class="form-control form-control-lg") }} {%
                            endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-dark submit-btn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}