{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/faq.css')}}">
{% endblock %}

{% block content %}
<h3
    class="underline-small"
    style="
      position: absolute;
      top: 50px;
      left: 35%;
      font-weight: 400;
      letter-spacing: 1px;
    "
  >
  FAQ - Terms & Conditions
  </h3>
  <div class="container col-lg-6 col-md-10 col-sm-12" style="padding-top: 180px; margin-bottom: 120px;">

    <h2 style="color: darkcyan; letter-spacing: 1px; margin-bottom: 30px; font-family: 'exo'; font-size: 40px;">Frequently Asked Question</h2>

    <button class="accordion">How do startup incubators help entrepreneurs realise their ideas?</button>
    <div class="panel">
        <p>A startup incubator is a collaborative initiative, undertaken and sponsored by private & public sources, with the intent of facilitating startup success. They are designed to allow entrepreneurs the chance to more directly pursue their ideas without getting tied down with issues that prevent some startups from getting off the ground.</p>
        <p>Example: Instead of tackling global problems and providing an incubator for entrepreneurs seeking to mitigate the world's energy issues through green energy, many incubators are regionally focussed. The latter might, for instance, sponsor entrepreneurs looking to curb local problems rather than those who are researching issues that have a broader, international scope</p>
    </div>

    <button class="accordion">What tangible services do incubators provide entrepreneurs?</button>
    <div class="panel">
        <p>Startups face a lot of problems getting their ideas launched, and incubators have developed strategies over the years to help entrepreneurs overcome many of these early hurdles. That's why incubators provide 2 main services designed to water the seeds, so to speak, and allow entrepreneurs' ideas to fully blossom.</p>
        <p>These 2 services are -
            <ol>
                <li>Providing seed (i.e. startup) money to defray early equipment purchases</li>
                <li>
                    Providing workspace accommodations
                    <br>
                    Many entrepreneurs are now choosing to work in coworking spaces because they typically allow for more synergistic collaboration among entrepreneurs in similar positions, as well as access to mentoring and brainstorming opportunities.
                </li>
            </ol>
        </p>
    </div>

    <button class="accordion">Is there a timeline to apply for incubation?</button>
    <div class="panel">
        <p>You can apply for incubation round the year.</p>
    </div>

    <button class="accordion">Is there any application fees?</button>
    <div class="panel">
        <p>No, startups do not need to pay any fees to apply for incubation.</p>
    </div>

    <button class="accordion">What's the tenure of incubation?</button>
    <div class="panel">
        <p>The incubation is offered for a period of 24 months initially which can be extended for another 12 months at the sole discretion of Unicorn.</p>
    </div>

    <button class="accordion">Can Unicorn help me in forming a company?</button>
    <div class="panel">
        <p>Yes! We can connect you with our consultants, domain experts, mentors etc. who can guide you about the Company formation in detail.</p>
    </div>

    <button class="accordion">What are the steps to get incubated?</button>
    <div class="panel">
        <p>Submit your application online through our portal.</p>
        <p>Your application would be screened and then you will be called for a presentation in front of the evaluation committee. Based on their decision, you may be validated and offered incubation.</p>
    </div>

    <button class="accordion">We don't really need the money. Does it still make sense to apply?</button>
    <div class="panel">
        <p>Absolutely! Unicorn is not only meant for providing funding. Financial support is one of the benefits.</p>
    </div>
</div>
<div class="container col-lg-8 col-md-10 col-sm-12" style="margin-top: 180px; margin-bottom: 120px; background-color: rgba(255, 255, 255, 0.842); padding: 40px 80px;">
    <h1 style="margin-top: 20px;text-align: center; font-weight: bold;">TERMS AND CONDITIONS</h1>
    <br>
    <p>These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and [business entity name] (“we,” “us” or “our”), concerning your access to and use of the [website name.com] website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”). </p>
    <p>You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms and Conditions. If you do not agree with all of these Terms and Conditions, then you are expressly prohibited from using the Site and you must discontinue use immediately.</p>
    <p>Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these Terms and Conditions at any time and for any reason. </p>
    <p>We will alert you about any changes by updating the “Last updated” date of these Terms and Conditions, and you waive any right to receive specific notice of each such change. </p>
    <p>It is your responsibility to periodically review these Terms and Conditions to stay informed of updates. You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms and Conditions by your continued use of the Site after the date such revised Terms and Conditions are posted. </p>
    <p>The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. </p>
    <p>Accordingly, those persons who choose to access the Site from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable. </p>
    <br>
    <h2>USER REGISTRATION</h2>
    <p>You may be required to register with the Site. You agree to keep your password confidential and will be responsible for all use of your account and password. We reserve the right to remove, reclaim, or change a username you select if we determine, in our sole discretion, that such username is inappropriate, obscene, or otherwise objectionable.</p>
    <br>
    <h2>PROHIBITED ACTIVITIES</h2>
    <p>You may not access or use the Site for any purpose other than that for which we make the Site available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us. </p>
    <p>As a user of the Site, you agree not to:</p>
    <ol>
        <li>systematically retrieve data or other content from the Site to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.</li>
        <li>make any unauthorized use of the Site, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.</li>
        <li>use a buying agent or purchasing agent to make purchases on the Site.</li>
        <li>use the Site to advertise or offer to sell goods and services.</li>
        <li>circumvent, disable, or otherwise interfere with security-related features of the Site, including features that prevent or restrict the use or copying of any Content or enforce limitations on the use of the Site and/or the Content contained therein.</li>
        <li>engage in unauthorized framing of or linking to the Site.</li>
        <li>trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords;</li>
        <li>make improper use of our support services or submit false reports of abuse or misconduct.</li>
        <li>engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools.</li>
        <li>interfere with, disrupt, or create an undue burden on the Site or the networks or services connected to the Site.</li>
        <li>attempt to impersonate another user or person or use the username of another user.</li>
        <li>sell or otherwise transfer your profile.</li>
        <li>use any information obtained from the Site in order to harass, abuse, or harm another person.</li>
        <li>use the Site as part of any effort to compete with us or otherwise use the Site and/or the Content for any revenue-generating endeavor or commercial enterprise.</li>
        <li>decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Site.</li>
        <li>attempt to bypass any measures of the Site designed to prevent or restrict access to the Site, or any portion of the Site.</li>
        <li>harass, annoy, intimidate, or threaten any of our employees or agents engaged in providing any portion of the Site to you.</li>
        <li>delete the copyright or other proprietary rights notice from any Content.</li>
        <li>copy or adapt the Site’s software, including but not limited to Flash, PHP, HTML, JavaScript, or other code.</li>
        <li>upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material, including excessive use of capital letters and spamming (continuous posting of repetitive text), that interferes with any party’s uninterrupted use and enjoyment of the Site or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the Site.</li>
        <li>disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site.</li>
        <li>use the Site in a manner inconsistent with any applicable laws or regulations.</li>
        <li>except as may be the result of standard search engine or Internet browser usage, use, launch, develop, or distribute any automated system, including without limitation, any spider, robot, cheat utility, scraper, or offline reader that accesses the Site, or using or launching any unauthorized script or other software.</li>
    </ol>
    <br>
    <h2>SUBMISSIONS</h2>
    <p>You acknowledge and agree that any questions, comments, suggestions, ideas, feedback, or other information regarding the Site ("Submissions") provided by you to us are non-confidential and shall become our sole property. We shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these Submissions for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to you. </p>
    <p>You hereby waive all moral rights to any such Submissions, and you hereby warrant that any such Submissions are original with you or that you have the right to submit such Submissions. You agree there shall be no recourse against us for any alleged or actual infringement or misappropriation of any proprietary right in your Submissions. </p>
    <br>
    <h2>PRIVACY POLICY</h2>
    <p>We care about data privacy and security. Please review our Privacy Policy [CLICK HERE]/posted on the Site]. By using the Site, you agree to be bound by our Privacy Policy, which is incorporated into these Terms and Conditions. Please be advised the Site is hosted in the United States. </p>
    <p>If you access the Site from the European Union, Asia, or any other region of the world with laws or other requirements governing personal data collection, use, or disclosure that differ from applicable laws in the United States, then through your continued use of the Site, you are transferring your data to the United States, and you expressly consent to have your data transferred to and processed in the United States.</p>
    <p>[Further, we do not knowingly accept, request, or solicit information from children or knowingly market to children. Therefore, in accordance with the U.S. Children’s Online Privacy Protection Act, if we receive actual knowledge that anyone under the age of 13 has provided personal information to us without the requisite and verifiable parental consent, we will delete that information from the Site as quickly as is reasonably practical.]</p>
    <br>
    <h2>TERM AND TERMINATION</h2>
    <p>These Terms and Conditions shall remain in full force and effect while you use the Site. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS AND CONDITIONS, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE SITE (INCLUDING BLOCKING CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS AND CONDITIONS OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE SITE OR DELETE [YOUR ACCOUNT AND] ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT WARNING, IN OUR SOLE DISCRETION. </p>
    <p>If we terminate or suspend your account for any reason, you are prohibited from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party. </p>
    <p>In addition to terminating or suspending your account, we reserve the right to take appropriate legal action, including without limitation pursuing civil, criminal, and injunctive redress.</p>
    <br>
    <h2>USER DATA</h2>
    <p>We will maintain certain data that you transmit to the Site for the purpose of managing the Site, as well as data relating to your use of the Site. Although we perform regular routine backups of data, you are solely responsible for all data that you transmit or that relates to any activity you have undertaken using the Site. </p>
    <p>You agree that we shall have no liability to you for any loss or corruption of any such data, and you hereby waive any right of action against us arising from any such loss or corruption of such data.</p>
</div>
<script src="{{url_for('static', filename='js/faq.js')}}"></script>
{% endblock %}