{%extends "layout.html"%}

{% block head %}
<!-- Page title -->
<title>Unicorn</title>
<!-- Link to respective CSS stylesheet -->
<style>
    .analysis-header {
        font-size: 4rem;
        font-weight: 100;
        font-style: italic;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }

    .card {
        width: calc(33.33% - 10px);
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-out;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
    }
    
    .card2 {
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-out;
    }

    .card2:hover {
        transform: translateY(-10px);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 800px;
        max-height: 80%;
        overflow: auto;
        margin-top: 150px;
    }

    .modal-content img {
        display: block;
        max-width: 100%;
        margin: auto;
        padding: 50px;
    }

    .close {
        color: black;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        transition: all 0.3s ease-out;
        cursor: pointer;
    }

    .close:hover {
        transform: scale(1.2);
    }

    .big-card {
        width: 100%;
        margin: 0 auto;
        /* position: absolute; */
        left: -30%;
        top: 40px;
    }

    .big-card2 {
        float: right !important;
        position: relative;
        height: 100%;
        margin-right: -70% !important;
        width: fit-content;
    }

    .explore-btn {
        width: 100%;
        background-color: #F37878;
        color: white;
        font-weight: bold;
        border: none;
        text-align: center;
        padding: 10px 0;
    }

    .right-side {
        padding-top: 100px; 
        left: -170px; 
        text-align: justify;
    }

    .pad-right-side {
        padding: 70px 150px; 
        text-align: justify;
    }

    .svg-market {
        position: absolute; 
        right: 0; 
        top: 50px; 
        height: 50vh;
    }

    .mad-img {
        height: 60vh; 
        width: 80vw;
    }

    @media (max-width: 992px){ 
        .right-side {
            left: 0px;
        }

        .pad-right-side {
            padding: 50px 10px;
        }

        .svg-market {
            display: none;
        }

        .mad-img {
            height: fit-content;
            width: 100%;
        }

        .rev {
            flex-direction: column-reverse;
        }
    }
</style>
{% endblock %}

{% block content %}
<h3 class="underline-small" style="
    position: absolute;
    top: 50px;
    left: 40%;
    font-weight: 400;
    letter-spacing: 1px;
  ">
    StartUp Exploratory Data Analysis
</h3>
<img class="svg-market" src="../static/img/eda_illustration.png" alt="">
<div class="container-fluid" style="padding-top: 200px;">
    <h1 class="analysis-header" style="text-align: center;">Market Analysis</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card big-card" onclick="togglePopup(3, '../static/img/newplot (1).png');">
                    <img src="../static/img/newplot (1).png" alt="Card 3 Image">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 right-side">
                <h1 class="analysis-header" style="text-align: left;">Top 10 most expensive markets</h1>
                <p class="analysis-para">
                    Capital expenditure is the money that a company spends on acquiring an asset needed to operate its
                    business. Capital expenditures also include the money spent on sustaining these assets. Common
                    capital expenditures include property, plant, and equipment, such as machines, trucks, factories,
                    office furniture, computers, computer software, and warehouses.
                </p>
                <button class="explore-btn"><a href="{{url_for('market_analysis')}}" style="color: white;">Explore more
                        :)</a></button>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="position: relative; overflow: hidden; margin-top: 200px;">
    <div class="row rev">
        <div class="col-lg-6 col-md-12 col-sm-12 pad-right-side">
            <h1 class="analysis-header" style="text-align: left;">Top 20 markets where startup close</h1>
            <p class="analysis-para">
                Starting a business is a lot harder than most people think. Rarely is a business so in tune with its
                niche that it can float along with minimal effort. But why do so many businesses fail? For that
                matter, how many of them actually do fail? The reasons run deep, but here is what you should know
                before starting your own business.
            </p>
            <button class="explore-btn"><a href="{{url_for('market_analysis')}}" style="color: white;">Explore more
                    :)</a></button>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card big-card2" style="overflow: hidden;"
                onclick="togglePopup(1, '../static/img/newplot (2).png');">
                <img src="../static/img/newplot (2).png" alt="Card 1 Image">
            </div>
        </div>
    </div>
    </div>
    <h1 class="analysis-header" style="text-align: center; padding-top: 250px;">Women Diversity EDA</h1>
    <div class="container-fluid" style="position: relative; padding-top: 50px;">
        <div class="row" style="margin: 0 auto;">
            <div class="col-lg-5 col-md-12 col-sm-12 card2" style="margin: 0 auto; box-shadow: none;"
                onclick="togglePopup(2, '../static/img/entreindex.png');">
                <img style="height: 50vh; width: 80%; object-fit: contain;" src="../static/img/entreindex.png" alt="Card 2 Image">
                <h1>Women in Entrepreneur index vs Aggregate Entrepreneur Index</h1>
                <p class="analysis-para">
                    The Entrepreneurship Index (EI) serves as a measurement tool that effectively determines if one
                    possesses the prospect of becoming a successful entrepreneur by assessing several essential aspects,
                    such as entrepreneurial orientation, personality, leadership, motivation and knowledge, pertaining
                    to
                    functional skills.
                </p>
                <button class="explore-btn"><a href="{{url_for('market_analysis')}}" style="color: white;">Explore more
                        :)</a></button>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 card2" style="margin: 0 auto; box-shadow: none;"
                onclick="togglePopup(3, '../static/img/devwomen.png');">
                <img style="height: 50vh; width: 80%; object-fit: contain;" src="../static/img/devwomen.png" alt="Card 3 Image">
                <h1>Level of women entrepreneur index in developed countries</h1>
                <p class="analysis-para">
                    Woman-owned businesses are more likely to operate in sectors that require in-person interactions,
                    such as service industries, retail and tourism, and many have lost income or were forced to close.
                    In regions including North America, Latin America, Asia and Oceania, businesses owned by women were
                    more than 10 percent more likely to have closed due to the pandemic than those owned by men.
                </p>
                <button class="explore-btn"><a href="{{url_for('market_analysis')}}" style="color: white;">Explore more
                        :)</a></button>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 100px;">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card big-card" onclick="togglePopup(3, '../static/img/mapwomen.png');">
                    <img src="../static/img/mapwomen.png" alt="Card 3 Image">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 right-side">
                <h1 class="analysis-header" style="text-align: left; font-size: 2.5rem;">Country Wise Women Entrepreneurship index</h1>
                <p class="analysis-para">
                    In the face of all these challenges, successful women entrepreneurs persist — with millions
                    developing new business models, carving out new pathways to funding, and devising new ways to keep
                    their businesses afloat. Supporting women entrepreneurs is not only the right thing to do, but it’s
                    also an opportunity to help communities around the world build resilience in the face of crisis.
                </p>
                <button class="explore-btn"><a href="{{url_for('market_analysis')}}" style="color: white;">Explore more
                        :)</a></button>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="position: relative; overflow: hidden; padding-top: 100px;">
        <div class="row rev">
            <div class="col-lg-6 col-md-12 col-sm-12 pad-right-side">
                <h1 class="analysis-header" style="text-align: left;">Gender Wise Diversity in Companies</h1>
                <p class="analysis-para">
                    Gender diversity in companies refers to the representation of men and women across all levels and
                    departments within an organization. It is important because it can lead to better decision-making,
                    improved financial performance, and a more inclusive and equitable workplace.
                </p>
                <button class="explore-btn"><a href="{{url_for('market_analysis')}}" style="color: white;">Explore more
                        :)</a></button>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card big-card2" style="overflow: hidden;"
                    onclick="togglePopup(1, '../static/img/gendercompany.png');">
                    <img class="mad-img" src="../static/img/gendercompany.png" alt="Card 1 Image">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="position: relative; padding-top: 150px;">
        <div class="row" style="margin: 0 auto;">
            <div class="col-lg-5 col-md-12 col-sm-12 card2" style="margin: 0 auto; box-shadow: none;"
                onclick="togglePopup(2, '../static/img/genderdistri.png');">
                <img style="height: 50vh; width: 80%; object-fit: contain;" src="../static/img/genderdistri.png" alt="Card 2 Image"">
                <h1>All the number of employees Gender Wise</h1>
                <p class="analysis-para">
                    Overall, promoting gender diversity in companies requires a commitment to equity and inclusivity, as
                    well as ongoing effort and attention to ensure that all employees have equal opportunities to
                    succeed and thrive in their careers
                </p>
                <button class="explore-btn"><a href="{{url_for('market_analysis')}}" style="color: white;">Explore more
                        :)</a></button>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 card2" style="margin: 0 auto; box-shadow: none;"
                onclick="togglePopup(3, '../static/img/raceemployee.png');">
                <img style="height: 50vh; width: 80%; object-fit: contain;" src="../static/img/raceemployee.png" alt="Card 3 Image">
                <h1>Race Diversity vs number of employees</h1>
                <p class="analysis-para">
                    A business owner's job is not complete without analysing
                    the market's reception towards their services/goods. In
                    fact, the real business starts from there. Head over to
                    the Market Trend Analysis to analyse how well your product
                    is doing and tweak your business functions accordingly by
                    consulting the mentors you've found at Unicorn!
                </p>
                <button class="explore-btn"><a href="{{url_for('market_analysis')}}" style="color: white;">Explore more
                        :)</a></button>
            </div>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <span class="close" onclick="togglePopup();">&times;</span>
            <img id="modal-image">
        </div>
    </div>
    
    <script>
        function togglePopup(cardNumber, imageUrl) {
            const modal = document.getElementById("modal");
            const modalImage = document.getElementById("modal-image");
    
            if (modal.style.display === "block") {
                modal.style.display = "none";
            } else {
                modalImage.src = imageUrl;
                modal.style.display = "block";
            }
        }
    
        // Close the modal when the user clicks outside of it
        window.onclick = function (event) {
            const modal = document.getElementById("modal");
    
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</div>
{% endblock %}