{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/success_stories.css')}}">
{% endblock %}

{% block content %}
<h3
    class="underline-small"
    style="
      position: absolute;
      top: 50px;
      left: 35%;
      font-weight: 400;
      letter-spacing: 1px;
    "
  >
  Startup - Success Stories
  </h3>

  <article style="padding-top: 250px;">
    <section class="card">
      <div class="text-content">
        <h3>How a 20-Year-Old CEO & Entrepreneur turns over worth 770 Million</h3>
        <p>Home décor is the new emerging niche. In this era, everyone wants to be in a well – furnished cozy house. With every passing decade, the standard of living is going up. Along with, higher living standards, people crave a comfortable, well- furnished house. You must have heard that a house is turned into a home when a women lives in it. Similarly, a house is turned into home only when it is well furnished.</p>  
        <a target="_blank" href="https://startupsuccessstories.in/how-a-20-year-old-ceo-entrepreneur-turns-over-worth-770-million/">Know More</a>
      </div>
      <div class="visual">
        <img src="https://images.unsplash.com/photo-1588856122867-363b0aa7f598?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1673&q=80" alt="" />
      </div>
    </section> 

    <section class="card">
      <div class="text-content">
        <h3>This Mumbai-based Startup is Changing the Face of Fitness Equipment Industry in India</h3>
        <p>Fitness enthusiasts & Athletes have been used to either buying poor quality equipment which leads to a lot more spending on replacing the products or, spending 5x to 10x amounts in importing international brands for personal or commercial use. Athletes are also seen underperforming at the international level due to the lack of access to competition-level equipment for their practice sessions.</p>  
        <a target="_blank" href="https://startupsuccessstories.in/this-mumbai-based-startup-is-changing-the-face-of-fitness-equipment-industry-in-india/">Know More</a>
      </div>
      <div class="visual">
        <img src="https://images.unsplash.com/photo-1582005450386-52b25f82d9bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" />
      </div>
    </section> 
  
    <section class="card">
      <div class="text-content">
        <h3>This Delhi-based Startup Is Scaling Up the Men’s & Grooming & Accessories Industry</h3>
        <p>Most of the grooming products available in the market for men are fancy products which doesn’t solve any real problem faced by men. MENSOME as a brand was started in September 2017 with aim to make Men Dress, Groom and Gift in a better way. We are publishing an interview with Mr. Himanshu Jain, Founder of MENSOME.</p>  
        <a target="_blank" href="https://startupsuccessstories.in/how-this-delhi-based-startup-is-scaling-up-the-mens-grooming-accessories-industry/">Know More</a>
      </div>
      <div class="visual">
        <img src="https://images.unsplash.com/photo-1586183189334-1ad3cd238e21?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1625&q=80" alt="" />
      </div>
    </section> 
  
    <section class="card">
      <div class="text-content">
        <h3>This Hyderabad-based Edtech Startup Aims to Be the ‘most Trusted and Preferred’ Brand Globally</h3>
        <p>Practically is a young insurgent brand from a team of energetic people who passionately believe in reshaping the way the world learns.</p>  
        <a target="_blank" href="https://startupsuccessstories.in/this-hyderabad-based-edtech-startup-aims-to-be-the-most-trusted-and-preferred-brand-globally/">Know More</a>
      </div>
      <div class="visual">
        <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" />
      </div>
    </section> 
  
    <section class="card">
      <div class="text-content">
        <h3>Delhi-based startup helps companies simplify their marketing processes</h3>
        <p>Content is the first line of marketing for any brand, company or individual. Not all the sectors of market have spending capacity to hire content writer on project basis or for small articles or just for website copies. And there are a few writers in the market with very less knowledge and claim to be content writers.</p>  
        <a target="_blank" href="https://startupsuccessstories.in/this-delhi-based-startup-helps-companies-simplify-their-marketing-processes/">Know More</a>
      </div>
      <div class="visual">
        <img src="https://images.unsplash.com/photo-1545231499-c7bbd0d06945?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80" alt="" />
      </div>
    </section> 

    <section class="card">
        <div class="text-content">
          <h3>Transforming the Future of Supply Chain & Logistics With “Resilient, Lean & Mean Machine”</h3>
          <p>Concorde Eye Private Limited is developing Cloud based Cognitive Platform for Supply Chain & Logistics, powered by Artificial Intelligence, Machine Learning, Deep Learning and Natural Language Processing with integrated conversational API.</p>  
          <a target="_blank" href="https://startupsuccessstories.in/this-pune-based-startup-is-transforming-the-future-of-supply-chain-logistics-with-resilient-lean-mean-machine/">Know More</a>
        </div>
        <div class="visual">
          <img src="https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" />
        </div>
      </section> 
    
      <section class="card">
        <div class="text-content">
          <h3>Redefining Public Toilets as We Know Them</h3>
          <p>Established in 2021, Thooya is a company with a focus to provide comfortable elite and Unique toilets which are safe and hygienic to use.</p>  
          <a target="_blank" href="https://startupsuccessstories.in/this-tamilnadu-based-startup-is-redefining-public-toilets-as-we-know-them/">Know More</a>
        </div>
        <div class="visual">
          <img src="https://images.unsplash.com/photo-1597098540640-0cf6008159a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80" alt="" />
        </div>
      </section> 
    
      <section class="card">
        <div class="text-content">
          <h3>Nurturing the Beauty of People</h3>
          <p>Timeless Aesthetics is a group of master Aestheticians led by internationally certified & one of the pioneers of aesthetics, Dr. Shikha Baghi Bhandari. Practicing & teaching new Aesthetic techniques, this clinic also provides free treatments to the needy.</p>  
          <a target="_blank" href="https://startupsuccessstories.in/how-this-gurugram-based-startup-is-nurturing-the-beauty-of-people/">Know More</a>
        </div>
        <div class="visual">
          <img src="https://images.unsplash.com/photo-1631085274261-0ace0296eaa0?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgzMTExMDg&ixlib=rb-4.0.3&q=80" alt="" />
        </div>
      </section> 
    
  </article>
{% endblock %}