{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
<div class="survey-main-div container" style="padding-top: 150px;">
    <h1 style="margin: 50px 0;">All surveys will show here</h1>
    <div class="row">
        {% for survey in surveys %}
        {% if (survey.required > survey.done) %}
        <div class="col-4">
            <h4>Survey No.: {{ survey.id }}</h4>
            <p>user: {{ survey.user }}</p>
            <p>survey_name: {{ survey.survey_name }}</p>
            <p>startup: {{ survey.startup }}</p>
            <p>done: {{ survey.done }}</p>
            <p>required: {{ survey.required }}</p>
            <p><a href="{{url_for('take_survey', sheet_no=survey.sheet)}}" style="color: #f37878">Take this survey</a></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}