{%extends "layout.html"%} {% block head %}
<!-- Page title -->
<title>Unicorn</title>
<!-- Link to respective CSS stylesheet -->
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/profile.css')}}"
/>
{% endblock %} {% block content %}
<div class="container" style="padding-top: 150px;">
<form method="POST" action="" enctype="multipart/form-data">
    {{ password_form.hidden_tag() }}
    <fieldset class="form-group">
        <h1 style="font-weight: 400; font-style: italic; font-size: 3rem;">UPDATE PASSWORD</h1>
                <div class="form-group">
                    {{ password_form.old_password.label(class="form-control-label") }}

                    {% if password_form.old_password.errors %}
                    {{ password_form.old_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in password_form.old_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ password_form.old_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ password_form.new_password.label(class="form-control-label") }}
                    {% if password_form.new_password.errors %}
                    {{ password_form.new_password.label(class="form-control-label") }}
                    {{ password_form.new_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in password_form.new_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ password_form.new_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ password_form.confirm_new_password.label(class="form-control-label") }}
                    {% if password_form.confirm_new_password.errors %}
                    {{ password_form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in password_form.confirm_new_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ password_form.confirm_new_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
        <div class="form-group">
            {{ password_form.submit(class="btn btn-dark") }}
        </div>
    </div>
</fieldset>
</form>
</div>
{% endblock %}
