bcrypt==4.0.1
blinker==1.5
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
dnspython==2.3.0
email-validator==1.3.1
Flask==2.2.2
Flask-Admin==1.6.1
Flask-Bcrypt==1.0.1
Flask-Googletrans==0.11
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.2
numpy==1.24.3
pandas==2.0.1
Pillow==9.4.0
podcast-api==1.1.4
python-dateutil==2.8.2
pytz==2023.3
razorpay==1.3.0
requests==2.28.2
rfc3986==1.5.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.4
threadpoolctl==3.1.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.14
waitress==2.1.2
Werkzeug==2.2.2
WTForms==3.0.1
zipp==3.12.1
gunicorn